{% load static %}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>
        {% block title-text %}
            Афиша Ханты-Мансийска
        {% endblock %}
    </title>


    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}">

    <!-- Favicons -->

</head>

<body class="d-flex flex-column h-100">

<header>
    {% block header %}
    {% endblock %}

</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        {% block site_content %}
        {% endblock %}
    </div>
</main>

{% block footer %}
{% endblock %}


<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>


</body>

</html>